.copywrite-container {
  display: flex;
  padding-top: 50px;
  padding-bottom: 40px;
  align-items: center;
}

.copywrite__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.36;
}
.copywrite__info {
  margin-left: auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.36;
}
