$primary-color: #fff;
$acent-color: #005fa3;
$secondary-color: #ebebeb;
$text-primary: #000000;
$text-secondary: #333333;
$text-primary-lighten: #ffffff;
$substrate: #bdbdbd;

$color: (
  'primary-color': #fff,
  'acent-color': #005fa3,
  'secondary-color': #ebebeb,
  'text-primary': #000000,
  'text-secondary': #333333,
  'text-primary-lighten': #ffffff,
  'substrate': #bdbdbd,
);
